include head

body
  include header
  main(role="main")

    article.projects
      .div
        a(href="#{category.url}")
          h2.category-name=category.name
      header.category
        a(href="#{category.url}")
          img(src=category.img)
        p.description=category.description

      ul.projects-container
        each project in projects
          if project.categoryId == category.id
              include project

    include categories-list

  include footer
